* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 175%;
  margin-top: 5%;
}

.nav-name2 {
  font-family: 'Lato', sans-serif;
  font-size: 300%;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.nav-name {
  font-family: 'Lato', sans-serif;  
  font-size: 300%;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.nav {
  order: 1;
  text-align: right;
  margin-top: 7%;
  position: fixed;
  right: 1.5%;
}

footer {
  align-items: flex-end;
}

#navLinks {
  margin-top: 10%;
}

.projects-screenshot {
  width: 65%;
}

.project-card {
  margin-left: 10%;
}
