@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './components';
@import './universal/';

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background-color: #f2e9e4;
}

/* HOME PAGE STYLING */

.hover-index:hover {
  font-size: inherit;
}
